User/Package Control.last-run
User/Package Control.merged-ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.user-ca-bundle
User/RubyTest.last-run
User/Package Control.cache/01524fae79697630d0454ba3fabd9414
User/Package Control.cache/01524fae79697630d0454ba3fabd9414.info
User/Projects/**